In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
df = pd.read_csv('car_resale_prices.csv')

In [3]:
df.head()

,Unnamed: 0,full_name,resale_price,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city
0,0,2017 Maruti Baleno 1.2 Alpha,₹ 5.45 Lakh,2017,1197 cc,Third Party insurance,Manual,"40,000 Kms",First Owner,Petrol,83.1bhp,5.0,21.4 kmpl,Hatchback,Agra
1,1,2018 Tata Hexa XTA,₹ 10 Lakh,2018,2179 cc,Third Party insurance,Automatic,"70,000 Kms",First Owner,Diesel,153.86bhp,7.0,17.6 kmpl,MUV,Agra
2,2,2015 Maruti Swift Dzire VXI,₹ 4.50 Lakh,2015,1197 cc,Third Party insurance,Manual,"70,000 Kms",Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra
3,3,2015 Maruti Swift Dzire VXI,₹ 4.50 Lakh,2015,1197 cc,Third Party insurance,Manual,"70,000 Kms",Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra
4,4,2009 Hyundai i10 Magna 1.1,₹ 1.60 Lakh,2009,1086 cc,Third Party insurance,Manual,"80,000 Kms",First Owner,Petrol,68.05bhp,5.0,19.81 kmpl,Hatchback,Agra

In [4]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [5]:
df.shape

(17446, 14)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17446 entries, 0 to 17445
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   full_name          17446 non-null  object
 1   resale_price       17446 non-null  object
 2   registered_year    17377 non-null  object
 3   engine_capacity    17432 non-null  object
 4   insurance          17439 non-null  object
 5   transmission_type  17446 non-null  object
 6   kms_driven         17443 non-null  object
 7   owner_type         17401 non-null  object
 8   fuel_type          17446 non-null  object
 9   max_power          17344 non-null  object
 10  seats              17436 non-null  float64
 11  mileage            16938 non-null  object
 12  body_type          17446 non-null  object
 13  city               17446 non-null  object
dtypes: float64(1), object(13)
memory usage: 1.9+ MB

### Iniciando o tratamento de valores nulos

In [7]:
df.isnull().sum()

full_name              0
resale_price           0
registered_year       69
engine_capacity       14
insurance              7
transmission_type      0
kms_driven             3
owner_type            45
fuel_type              0
max_power            102
seats                 10
mileage              508
body_type              0
city                   0
dtype: int64

In [8]:
df['full_name'][0].split()[0]

'2017'

In [9]:
# Confirmando que sempre a primeira parte do split é um ano
df['full_name'].apply(lambda x: x.split()[0]).unique()

array(['2017', '2018', '2015', '2009', '2010', '2016', '2014', '2020',
       '2021', '2019', '2011', '2012', '2013', '2022', '2004', '2008',
       '2006', '2023', '2003', '2007', '1986', '2000', '2002', '2005',
       '2001', '1999', '1998', '1985', '1997', '1995', '1989'],
      dtype=object)

In [10]:
df['registered_year'] = df['registered_year'].fillna(df['full_name'].apply(lambda x: x.split()[0]))

In [11]:
df.iloc[215]['registered_year']

'2022'

In [12]:
df.dropna(inplace=True)

In [13]:
df.isnull().sum()

full_name            0
resale_price         0
registered_year      0
engine_capacity      0
insurance            0
transmission_type    0
kms_driven           0
owner_type           0
fuel_type            0
max_power            0
seats                0
mileage              0
body_type            0
city                 0
dtype: int64

#### Convertendo para float e normalizando a coluna de mileage para kmpl (quilômetros por litro)

In [14]:
df['mileage'].unique()

array(['21.4 kmpl', '17.6 kmpl', '20.85 kmpl', '19.81 kmpl', '17.19 kmpl',
       '27.28 kmpl', '15.37 kmpl', '18 kmpl', '20.14 kmpl', '21.56 kmpl',
       '23.7 kmpl', '23.95 kmpl', '26.6 kmpl', '21.43 kmpl', '18.2 kmpl',
       '20.65 kmpl', '22.7 kmpl', '11.3 kmpl', '26.59 kmpl', '20.92 kmpl',
       '21.01 kmpl', '22.74 kmpl', '20.51 kmpl', '18.9 kmpl', '22.9 kmpl',
       '15.1 kmpl', '11.57 kmpl', '23.84 kmpl', '24.3 kmpl', '25.47 kmpl',
       '25.24 kmpl', '22.1 kmpl', '22.05 kmpl', '11.4 kmpl', '12.8 kmpl',
       '18.8 kmpl', '24 kmpl', '21.94 km/kg', '16.55 kmpl', '21 kmpl',
       '22.07 kmpl', '17.92 kmpl', '20.36 kmpl', '17.52 kmpl',
       '18.97 kmpl', '20 kmpl', '16.56 kmpl', '21.1 kmpl', '20.09 kmpl',
       '23.59 kmpl', '19.87 kmpl', '16 kmpl', '20.8 kmpl', '28.4 kmpl',
       '21.79 kmpl', '20.45 kmpl', '24.4 kmpl', '27.3 kmpl', '22.41 kmpl',
       '25.6 kmpl', '26.2 kmpl', '25.17 kmpl', '15.5 kmpl', '21.21 kmpl',
       '15.4 kmpl', '25.8 kmpl', '23.4 kmpl', '26 kmpl', '17.33 kmpl',
       '25.2 kmpl', '19.44 kmpl', '25.44 kmpl', '25.83 kmpl',
       '20.52 kmpl', '16.5 kmpl', '16.2 kmpl', '13.96 kmpl', '17 kmpl',
       '19.4 kmpl', '21.8 kmpl', '17.1 kmpl', '20.88 km/kg', '19.01 kmpl',
       '22.54 kmpl', '19.67 kmpl', '17.8 kmpl', '24.04 kmpl', '18.6 kmpl',
       '14.1 kmpl', '27.4 kmpl', '25.32 kmpl', '18.75 kmpl', '21.19 kmpl',
       '15.43 kmpl', '20.77 kmpl', '15.73 kmpl', '18.5 kmpl', '10.1 kmpl',
       '20.86 kmpl', '15.2 kmpl', '19 kmpl', '22 kmpl', '18.76 kmpl',
       '13.2 kmpl', '16.6 kmpl', '14.8 kmpl', '23 kmpl', '22.32 kmpl',
       '16.9 kmpl', '14.28 kmpl', '15.26 kmpl', '18.25 kmpl',
       '17.84 kmpl', '13 kmpl', '12.07 kmpl', '11.74 kmpl', '19.2 kmpl',
       '15.17 kmpl', '8.8 kmpl', '17.01 kmpl', '18.53 kmpl', '15.64 kmpl',
       '14.11 kmpl', '20.38 kmpl', '24.39 kmpl', '23.1 kmpl', '17.5 kmpl',
       '24.52 kmpl', '26.49 kmpl', '30.46 kmpl', '19.03 kmpl',
       '22.77 kmpl', '17.9 kmpl', '24.7 kmpl', '21.63 kmpl', '19.5 kmpl',
       '17.03 kmpl', '21.72 kmpl', '33.44 kmpl', '20.5 kmpl', '25.4 kmpl',
       '20.89 kmpl', '20.1 kmpl', '22.38 kmpl', '12.99 kmpl', '24.8 kmpl',
       '19.6 kmpl', '21.7 kmpl', '15.7 kmpl', '18.49 kmpl', '20.68 kmpl',
       '13.24 kmpl', '19.47 kmpl', '22.25 kmpl', '34.05 kmpl', '25 kmpl',
       '23.01 kmpl', '16.8 kmpl', '30.48 km/kg', '12.9 kmpl', '23.2 kmpl',
       '26.68 kmpl', '20.7 kmpl', '20.73 kmpl', '14.94 kmpl',
       '27.39 kmpl', '25.5 kmpl', '21.66 kmpl', '17.3 kmpl', '27 kmpl',
       '23.22 kmpl', '11.88 kmpl', '32.52 kmpl', '25.1 kmpl',
       '19.61 kmpl', '22.35 kmpl', '12.55 kmpl', '17.57 kmpl',
       '15.04 kmpl', '18.55 kmpl', '26.8 kmpl', '19.33 kmpl', '17.4 kmpl',
       '28.09 kmpl', '18.27 kmpl', '16.11 kmpl', '21.14 kmpl',
       '23.57 kmpl', '14.2 kmpl', '21.13 kmpl', '20.28 kmpl', '18.1 kmpl',
       '18.88 kmpl', '12.05 kmpl', '19.7 kmpl', '23.65 kmpl', '15.8 kmpl',
       '21.5 kmpl', '10.91 kmpl', '28 km/kg', '17.29 kmpl', '20.3 kmpl',
       '15.6 kmpl', '13.7 kmpl', '25.35 kmpl', '18.06 kmpl',
       '31.59 km/kg', '22.56 kmpl', '18.15 kmpl', '23.64 kmpl',
       '17.41 kmpl', '18.7 kmpl', '14.4 kmpl', '13.87 kmpl', '20.27 kmpl',
       '26.55 kmpl', '16.1 kmpl', '16.47 kmpl', '23.5 kmpl', '24.97 kmpl',
       '26.49 km/kg', '19.3 kmpl', '21.04 kmpl', '21.64 kmpl', '14 kmpl',
       '12.7 kmpl', '13.93 kmpl', '21.38 kmpl', '12.98 kmpl',
       '19.17 kmpl', '22.95 kmpl', '13.5 kmpl', '13.45 kmpl',
       '26.82 kmpl', '18.16 kmpl', '19.98 kmpl', '11.5 kmpl',
       '14.66 kmpl', '19.1 kmpl', '16.13 kmpl', '17.42 kmpl', '9.26 kmpl',
       '12.83 kmpl', '15.56 kmpl', '20.37 kmpl', '17.05 kmpl',
       '12.6 kmpl', '15.34 kmpl', '9.5 kmpl', '9.17 kmpl', '24.07 kmpl',
       '26.21 kmpl', '22.48 kmpl', '13.38 kmpl', '14.75 kmpl',
       '19.56 kmpl', '15.81 kmpl', '16.38 kmpl', '11 kmpl', '12.04 kmpl',
       '12 kmpl', '17.67 kmpl', '7.81 kmpl', '12.4 kmpl', '17.7 kmpl',
       '19.65 kmpl', '16.24 kmpl', '22.71 kmpl', '17.68 kmpl',
       '15.96 kmpl', '16.82 kmpl', '15 kmpl', '14.59 kmpl', '14.82 kmpl',
       '19.28 kmpl', '14.08 kmpl', '31.12 kmpl', '17.09 kmpl',
       '20.04 kmpl', '14.74 kmpl', '18.45 kmpl', '12.62 kmpl',
       '16.36 kmpl', '10.8 kmpl', '17.74 kmpl', '19.49 kmpl',
       '20.63 kmpl', '32.26 kmpl', '16.3 kmpl', '17.72 kmpl',
       '18.24 kmpl', '11.36 kmpl', '18.4 kmpl', '14.99 kmpl',
       '22.15 kmpl', '20.34 kmpl', '20.54 kmpl', '18.3 kmpl',
       '16.09 kmpl', '11.9 kmpl', '21.74 kmpl', '16.42 kmpl', '14.6 kmpl',
       '20.4 kmpl', '11.67 kmpl', '14.3 kmpl', '16.02 kmpl', '16.35 kmpl',
       '11.18 kmpl', '16.95 kmpl', '22.61 kmpl', '13.4 kmpl',
       '19.34 kmpl', '18.12 kmpl', '19.16 kmpl', '12.74 kmpl',
       '16.34 kmpl', '13.9 kmpl', '15.01 kmpl', '12.81 kmpl',
       '15.68 kmpl', '23.9 kmpl', '8.13 kmpl', '11.7 kmpl', '8.9 kmpl',
       '11.49 kmpl', '13.17 kmpl', '18.56 kmpl', '15.97 kmpl',
       '16.77 kmpl', '15.3 kmpl', '10.54 kmpl', '22.8 kmpl', '14.16 kmpl',
       '10.5 kmpl', '19.02 kmpl', '17.21 kmpl', '22.5 kmpl', '16.14 kmpl',
       '21.02 kmpl', '15.85 kmpl', '31.2 kmpl', '19.68 kmpl',
       '15.63 kmpl', '16.98 kmpl', '20.08 kmpl', '22.3 kmpl', '11.1 kmpl',
       '17.71 kmpl', '35.6 km/kg', '33 kmpl', '18.78 kmpl', '13.01 kmpl',
       '13.1 kmpl', '21.9 kmpl', '13.6 kmpl', '14.7 kmpl', '14.53 kmpl',
       '10.9 kmpl', '23.08 kmpl', '21.27 kmpl', '16.94 kmpl',
       '17.69 kmpl', '8 kmpl', '21.46 kmpl', '19.59 kmpl', '19.08 kmpl',
       '13.68 kmpl', '17.32 kmpl', '16.73 kmpl', '14.47 kmpl',
       '23.03 kmpl', '16.78 kmpl', '21.1 km/kg', '19.27 kmpl',
       '21.76 kmpl', '12.2 kmpl', '17.43 kmpl', '15.29 kmpl',
       '19.15 kmpl', '20.71 kmpl', '20.97 kmpl', '20.62 kmpl',
       '14.62 kmpl', '19.8 kmpl', '20.15 kmpl', '18.23 kmpl',
       '19.69 kmpl', '19.12 kmpl', '12.1 kmpl', '15.41 kmpl',
       '11.24 kmpl', '19.64 kmpl', '10.71 kmpl', '14.07 kmpl',
       '24.2 kmpl', '19.09 kmpl', '23.87 kmpl', '17.14 kmpl', '15.9 kmpl',
       '11.2 kmpl', '24.76 kmpl', '14.95 kmpl', '18.64 kmpl',
       '22.69 kmpl', '18.41 kmpl', '12.18 kmpl', '9.4 kmpl', '14.67 kmpl',
       '18.19 kmpl', '24.35 kmpl', '14.69 kmpl', '16.07 kmpl',
       '25.01 kmpl', '14.84 kmpl', '16.46 kmpl', '14.9 kmpl',
       '27.97 kmpl', '14.24 kmpl', '19.71 kmpl', '11.78 kmpl',
       '10.93 kmpl', '14.49 kmpl', '14.5 kmpl', '16.7 kmpl', '10.2 kmpl',
       '11.81 kmpl', '15.15 kmpl', '14.21 kmpl', '9.52 kmpl',
       '17.36 kmpl', '26.55 km/kg', '19.83 kmpl', '26.83 kmpl',
       '17.88 kmpl', '14.23 kmpl', '12.35 kmpl', '23.56 kmpl',
       '9.74 kmpl', '21.3 kmpl', '16.96 kmpl', '12.95 kmpl', '17.99 kmpl',
       '11.07 kmpl', '26.78 km/kg', '18.84 kmpl', '16.25 kmpl',
       '27.03 kmpl', '26.32 kmpl', '16.39 kmpl', '14.34 kmpl', '9 kmpl',
       '15.16 kmpl', '25.19 kmpl', '12.63 kmpl', '10 kmpl', '18.07 kmpl',
       '16.65 kmpl', '9.8 kmpl', '18.42 kmpl', '13.14 kmpl', '17.2 kmpl',
       '20.58 kmpl', '11.33 kmpl', '23.8 kmpl', '14.19 kmpl', '10.6 kmpl',
       '18.43 kmpl', '20.25 kmpl', '18.05 kmpl', '22.94 kmpl', '8.5 kmpl',
       '19.23 kmpl', '17.11 kmpl', '14.85 kmpl', '19.72 kmpl',
       '19.62 kmpl', '17.97 kmpl', '14.72 kmpl', '12.78 kmpl',
       '18.48 kmpl', '22.37 kmpl', '21.58 kmpl', '18.67 kmpl',
       '13.8 kmpl', '21.73 kmpl', '11.8 kmpl', '13.73 kmpl',
       '26.08 km/kg', '21.49 kmpl', '31.79 kmpl', '26.11 kmpl',
       '18.51 kmpl', '20.64 kmpl', '26.1 kmpl', '18.69 kmpl',
       '30.47 km/kg', '19.89 kmpl', '10.7 kmpl', '18.33 kmpl',
       '16.51 kmpl', '33.54 kmpl', '21.12 kmpl', '14.83 kmpl',
       '18.86 kmpl', '17.66 kmpl', '9.6 kmpl', '16.93 kmpl', '13.44 kmpl',
       '17.24 kmpl', '15.74 kmpl', '26.3 kmpl', '36 kmpl', '26.11 km/kg',
       '18.44 kmpl', '15.11 kmpl', '8.45 kmpl', '23.3 kmpl', '6.7 kmpl',
       '12.3 kmpl', '24.29 kmpl', '19.95 kmpl', '24.1 kmpl', '26.5 kmpl',
       '12.12 kmpl', '15.38 kmpl', '20.46 kmpl', '120 kmpl', '25.3 kmpl',
       '11.96 kmpl', '12.51 kmpl', '13.04 kmpl', '14.81 kmpl',
       '10.26 kmpl', '17.85 kmpl', '12.65 kmpl', '8.7 kmpl', '18.9 km/kg',
       '13.49 kmpl', '26.6 km/kg', '18.09 kmpl', '13.32 kmpl',
       '14.41 kmpl', '13.79 kmpl', '13.58 kmpl', '140 kmpl', '13.06 kmpl',
       '14.025 kmpl', '12.19 kmpl', '16.72 kmpl', '14.71 kmpl',
       '19.05 kmpl', '11.86 kmpl', '17.54 kmpl', '12.5 kmpl',
       '11.79 kmpl', '24.5 kmpl', '14.38 kmpl', '12.28 kmpl',
       '11.25 kmpl', '10.98 kmpl', '14.02 kmpl', '24.43 kmpl',
       '16.05 kmpl', '22.27 kmpl', '13.03 kmpl', '10.75 kmpl',
       '13.05 kmpl', '12.33 kmpl', '17.45 kmpl', '7.08 kmpl',
       '16.12 kmpl', '16.4 kmpl', '12.97 kmpl', '13.22 kmpl', '8.6 kmpl',
       '9.43 kmpl', '14.01 kmpl', '9.2 kmpl', '13.33 kmpl', '33.85 km/kg',
       '13.47 kmpl', '16.28 kmpl', '18.47 kmpl', '18.32 kmpl'],
      dtype=object)

In [15]:
def converter_coluna_mileage(x):
    if 'kmpl' in x:
        return float(x.replace('kmpl', '').strip())
    elif 'km/kg' in x:
        km_kg = float(x.replace('km/kg', '').strip())
        return km_kg / 1.39 # pesquisei a conversão de gás natural para quilômetros por litro
    
df['mileage'] = df['mileage'].apply(converter_coluna_mileage)
df.rename(columns={'mileage': 'mileage_kmpl'}, inplace=True)

In [16]:
df['kms_driven'].unique()

array(['40,000 Kms', '70,000 Kms', '80,000 Kms', ..., '9,400 Kms',
       '800 Kms', '67,634 Kms'], shape=(8125,), dtype=object)

In [17]:
def converter_coluna_kms_driven(x):
    return float(x.replace(',', '').replace('Kms', '').strip())
    
df['kms_driven'] = df['kms_driven'].apply(converter_coluna_kms_driven)

#### Convertendo a coluna engine_capacity para inteiro e retirando os carros elétricos que possuem valores de 0 cc e 72 cc

In [18]:
df['engine_capacity'].unique()

array(['1197 cc', '2179 cc', '1086 cc', '1047 cc', '1196 cc', '1198 cc',
       '1462 cc', '1493 cc', '1396 cc', '998 cc', '1496 cc', '1364 cc',
       '1498 cc', '2360 cc', '1248 cc', '796 cc', '1199 cc', '2494 cc',
       '1186 cc', '1968 cc', '999 cc', '1399 cc', '1956 cc', '814 cc',
       '1461 cc', '1061 cc', '995 cc', '1499 cc', '799 cc', '1120 cc',
       '1586 cc', '936 cc', '1353 cc', '1451 cc', '1497 cc', '1582 cc',
       '1368 cc', '2354 cc', '2184 cc', '1995 cc', '2499 cc', '1395 cc',
       '1998 cc', '1798 cc', '2143 cc', '2967 cc', '1796 cc', '2894 cc',
       '1984 cc', '1298 cc', '1799 cc', '1591 cc', '624 cc', '1598 cc',
       '1172 cc', '2755 cc', '1373 cc', '1405 cc', '2982 cc', '1997 cc',
       '2498 cc', '2198 cc', '3198 cc', '909 cc', '1193 cc', '2609 cc',
       '2199 cc', '3498 cc', '2993 cc', '1991 cc', '1950 cc', '3604 cc',
       '2995 cc', '2998 cc', '1999 cc', '2987 cc', '1996 cc', '1896 cc',
       '4663 cc', '2523 cc', '2393 cc', '4951 cc', '1495 cc', '1969 cc',
       '1797 cc', '993 cc', '1595 cc', '1597 cc', '1341 cc', '2696 cc',
       '2925 cc', '2979 cc', '2487 cc', '2996 cc', '4367 cc', '2477 cc',
       '4999 cc', '2835 cc', '1599 cc', '1468 cc', '1150 cc', '2157 cc',
       '1794 cc', '2400 cc', '1948 cc', '1993 cc', '2362 cc', '2200 cc',
       '2956 cc', '2489 cc', '1596 cc', '1390 cc', '1490 cc', '5461 cc',
       '1194 cc', '2496 cc', '1349 cc', '1330 cc', '4134 cc', '2694 cc',
       '2999 cc', '2497 cc', '3471 cc', '2359 cc', '2953 cc', '5000 cc',
       '2650 cc', '1482 cc', '2231 cc', '2446 cc', '1985 cc', '0 cc',
       '2148 cc', '1781 cc', '1299 cc', '1339 cc', '1389 cc', '72 cc',
       '1589 cc', '3597 cc', '1422 cc', '1108 cc', '2698 cc', '3200 cc',
       '4806 cc', '4395 cc', '2997 cc', '3982 cc', '5998 cc', '2147 cc',
       '1388 cc'], dtype=object)

In [19]:
def converter_coluna_engine_capacity(x):
    if pd.isna(x):
        return x
    else:
        return int(x.replace('cc', '').strip())
    
df['engine_capacity'] = df['engine_capacity'].apply(converter_coluna_engine_capacity)
df.rename(columns={'engine_capacity': 'engine_capacity_cc'}, inplace=True)

In [20]:
df['engine_capacity_cc'].describe()

count    16808.000000
mean      1419.745419
std        466.482539
min          0.000000
25%       1197.000000
50%       1248.000000
75%       1498.000000
max       5998.000000
Name: engine_capacity_cc, dtype: float64

In [21]:
df[df['engine_capacity_cc'] == 0]

,full_name,resale_price,registered_year,engine_capacity_cc,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage_kmpl,body_type,city
8857,2015 Mahindra e2o T2,₹ 3.35 Lakh,Oct 2015,0,Third Party insurance,Automatic,43064.0,First Owner,Electric,25.5bhp,5.0,120.0,Hatchback,Hyderabad

In [22]:
df[df['fuel_type'] == 'Electric']

,full_name,resale_price,registered_year,engine_capacity_cc,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage_kmpl,body_type,city
8857,2015 Mahindra e2o T2,₹ 3.35 Lakh,Oct 2015,0,Third Party insurance,Automatic,43064.0,First Owner,Electric,25.5bhp,5.0,120.0,Hatchback,Hyderabad
10558,2017 Mahindra e2o Plus P8,₹ 4.60 Lakh,2017,72,Third Party insurance,Automatic,20000.0,Second Owner,Electric,40bhp,4.0,140.0,Hatchback,Bangalore
14181,2017 Mahindra e2o Plus P8,₹ 5.50 Lakh,2017,72,Third Party insurance,Automatic,10000.0,First Owner,Electric,40bhp,4.0,140.0,Hatchback,Delhi
14193,2017 Mahindra e2o Plus P8,₹ 5.50 Lakh,2017,72,Third Party insurance,Automatic,10000.0,First Owner,Electric,40bhp,4.0,140.0,Hatchback,Delhi

In [23]:
df.loc[(df['fuel_type'] == 'Electric') & (df['engine_capacity_cc'].isin([0, 72])), 'engine_capacity_cc'] = np.nan

In [24]:
df[df['fuel_type'] == 'Electric']

,full_name,resale_price,registered_year,engine_capacity_cc,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage_kmpl,body_type,city
8857,2015 Mahindra e2o T2,₹ 3.35 Lakh,Oct 2015,NaN,Third Party insurance,Automatic,43064.0,First Owner,Electric,25.5bhp,5.0,120.0,Hatchback,Hyderabad
10558,2017 Mahindra e2o Plus P8,₹ 4.60 Lakh,2017,NaN,Third Party insurance,Automatic,20000.0,Second Owner,Electric,40bhp,4.0,140.0,Hatchback,Bangalore
14181,2017 Mahindra e2o Plus P8,₹ 5.50 Lakh,2017,NaN,Third Party insurance,Automatic,10000.0,First Owner,Electric,40bhp,4.0,140.0,Hatchback,Delhi
14193,2017 Mahindra e2o Plus P8,₹ 5.50 Lakh,2017,NaN,Third Party insurance,Automatic,10000.0,First Owner,Electric,40bhp,4.0,140.0,Hatchback,Delhi

In [25]:
df.dropna(inplace=True)

#### Analisando e posteriormente convertendo a coluna de registered_year para inteiro de forma que permaneça somente o ano

In [26]:
df['registered_year'].unique()

array(['2017', '2018', '2015', '2009', '2010', '2016', '2014', '2020',
       '2021', '2019', '2011', '2012', '2013', '2022', '2004', 'Dec 2018',
       'Jun 2018', 'Mar 2016', 'Feb 2018', 'Oct 2014', 'Mar 2014',
       'Feb 2013', 'Aug 2018', 'Jun 2019', 'Dec 2021', 'Apr 2019',
       'May 2018', 'Nov 2013', 'Sept 2022', 'Jan 2021', 'Sept 2020',
       'Jan 2015', 'Oct 2017', 'Sept 2019', 'Jul 2019', 'Mar 2020',
       'Jan 2018', 'Nov 2015', 'May 2015', 'Dec 2014', 'Feb 2019',
       'May 2016', 'Apr 2018', 'May 2021', '2008', 'Mar 2022', 'Jun 2016',
       'Jun 2017', 'Jul 2016', 'Jun 2015', 'Sept 2018', 'Nov 2018',
       'Aug 2019', 'Jun 2021', '2006', 'Jan 2017', 'Aug 2014', 'Jul 2013',
       'Jul 2017', 'Dec 2013', 'Sept 2016', 'Mar 2017', 'Feb 2020',
       'Oct 2018', 'May 2014', 'Aug 2021', 'Aug 2020', 'Mar 2019',
       'Jan 2016', 'Feb 2016', 'Oct 2015', 'May 2019', 'Dec 2012',
       'Nov 2021', 'Mar 2018', 'Nov 2019', 'Aug 2017', 'Feb 2014',
       'Feb 2021', 'Mar 2021', 'Aug 2016', 'Dec 2016', 'Jan 2020',
       'Sept 2017', 'Apr 2021', 'Apr 2017', 'Jun 2013', 'Dec 2017',
       '2023', 'Jun 2022', 'Apr 2015', 'Jul 2018', 'Nov 2020', 'Oct 2020',
       'Jul 2020', 'May 2020', 'Apr 2022', 'Dec 2020', 'Jul 2014',
       'Mar 2015', 'Dec 2019', 'Oct 2019', 'Feb 2015', 'Jul 2021',
       'May 2017', 'May 2013', 'Dec 2015', 'Feb 2022', 'Oct 2016',
       'Jan 2022', 'Oct 2021', 'Jun 2020', 'Oct 2011', '2003', 'Oct 2022',
       'Aug 2013', 'May 2011', 'Jan 2014', 'Jun 2014', 'May 2007',
       'Sept 2013', 'Feb 2017', 'May 2012', 'Jul 2015', 'Jun 2008',
       'Sept 2021', 'Mar 2009', 'Dec 2006', 'Dec 2010', 'Jan 2010',
       'Apr 2008', 'Jul 2011', 'Mar 2011', 'Jun 2012', 'Nov 2012',
       'Dec 2009', 'Jan 2023', 'Feb 2011', 'Nov 2014', 'Jan 2012',
       'Jul 2012', 'Nov 2011', 'Sept 2009', 'Jan 2011', 'Feb 2012',
       'Apr 2009', 'Apr 2016', 'Jan 2013', 'Apr 2014', 'Jul 2022',
       'Nov 2022', 'Nov 2016', '1986', 'May 2022', 'Apr 2020', 'Jul 2023',
       'Mar 2023', 'Nov 2017', 'Apr 2013', 'Sept 2012', 'Jan 2019',
       'Dec 2022', 'Jul 2010', 'Sept 2015', 'Aug 2022', '2000',
       'May 2010', 'Jul 2006', 'Nov 2008', 'Sept 2014', 'Oct 2010',
       'Apr 2012', 'Oct 2013', 'Jul 2008', 'Apr 2011', 'Aug 2011',
       'Feb 2002', 'Aug 2005', 'Feb 2008', 'May 2006', 'Mar 2010',
       'Feb 2010', 'Aug 2008', 'Mar 2008', 'Jun 2011', 'Aug 2010',
       'Mar 2013', 'Jan 2008', 'Jul 2007', 'Oct 2012', 'Jun 2009',
       'Feb 2007', 'Sept 2010', 'Jul 2009', 'Aug 2015', 'Dec 2011',
       'Aug 2003', '2007', 'Mar 2012', 'Apr 2010', 'Nov 2010', 'Aug 2012',
       'Jan 2005', 'May 2009', 'Jun 2010', 'Aug 2009', 'Jul 2003',
       'Mar 2003', 'Jan 2009', 'Jun 2007', '1999', 'Feb 2023', 'Jun 2023',
       'Oct 2007', '2005', 'Sept 2011', '1998', 'May 2023', 'Oct 2009',
       'Dec 2003', '2002', 'Feb 2009', 'Oct 2008', 'Sept 2008',
       'Nov 2009', 'Aug 2023', 'Dec 2008', 'May 2008', 'Jun 2006',
       'Jan 2006', '1985', '2001', 'Jul 2004', 'Dec 2004', 'Aug 2006',
       'Aug 2007', '1997', 'Apr 2023', 'Apr 2007', 'Feb 2006', 'Nov 2007',
       'Jul 2005'], dtype=object)

In [27]:
def converter_coluna_registered_year(x):
    if 'Jan' in x:
        return int(x.replace('Jan', '').strip())
    elif 'Feb' in x:
        return int(x.replace('Feb', '').strip())
    elif 'Mar' in x:
        return int(x.replace('Mar', '').strip())
    elif 'Apr' in x:
        return int(x.replace('Apr', '').strip())
    elif 'May' in x: 
        return int(x.replace('May', '').strip())
    elif 'Jun' in x: 
        return int(x.replace('Jun', '').strip())
    elif 'Jul' in x:
        return int(x.replace('Jul', '').strip()) 
    elif 'Aug' in x: 
        return int(x.replace('Aug', '').strip())
    elif 'Sept' in x: 
        return int(x.replace('Sept', '').strip())
    elif 'Oct' in x: 
        return int(x.replace('Oct', '').strip())
    elif 'Nov' in x: 
        return int(x.replace('Nov', '').strip())
    elif 'Dec' in x:
        return int(x.replace('Dec', '').strip())
    else:
        return int(x)

df['registered_year'] = df['registered_year'].apply(converter_coluna_registered_year)

In [28]:
df['registered_year'].unique()

array([2017, 2018, 2015, 2009, 2010, 2016, 2014, 2020, 2021, 2019, 2011,
       2012, 2013, 2022, 2004, 2008, 2006, 2023, 2003, 2007, 1986, 2000,
       2002, 2005, 1999, 1998, 1985, 2001, 1997])

#### Convertendo a coluna de resale_price para float e normalizando a coluna para Rupias Indianas (inr)

In [29]:
df['resale_price'].unique()
# Crore = 10.000.000
# Lakh = 100.000

array(['₹ 5.45 Lakh', '₹ 10 Lakh', '₹ 4.50 Lakh', ..., '₹ 11.29 Lakh',
       '₹ 1.57 Crore', '₹ 27.25 Lakh'], shape=(1671,), dtype=object)

In [30]:
df['resale_price'].loc[df['resale_price'] == '₹ 2.25 Crore']

1476    ₹ 2.25 Crore
Name: resale_price, dtype: object

In [31]:
def converter_preco(x):
    if '₹' in x and 'Lakh' in x:
        return float(x.replace('₹', '').replace('Lakh', '').replace(',', '.').strip()) * 100000
    elif '₹' in x and 'Crore' in x:
        return float(x.replace('₹', '').replace('Crore', '').replace(',', '.').strip()) * 10000000
    else:
        return float(x.replace('₹', '').replace(',', '.').strip())
    
df['resale_price'] = df['resale_price'].apply(converter_preco)
df.rename(columns={'resale_price': 'resale_price_inr'}, inplace=True) # inr para dizer que está em rupias indianas

In [32]:
df['resale_price_inr'].unique()

array([  545000.,  1000000.,   450000., ...,  1129000., 15700000.,
        2725000.], shape=(1671,))

In [33]:
df.loc[df['resale_price_inr'] == 22500000.0]

,full_name,resale_price_inr,registered_year,engine_capacity_cc,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage_kmpl,body_type,city
1476,2021 Mercedes-Benz G G 350d,22500000.0,2021,2925.0,Comprehensive,Automatic,36000.0,First Owner,Diesel,281.61bhp,5.0,8.13,SUV,Delhi

#### Convertendo para float e normalizando toda a coluna de max_power para bhp (brake horse power)

In [34]:
df['max_power'].unique()
# bhp (brake horse power) é uma medida quase equivalente a horse power, no entanto ela é feita diretamente no eixo (evitando perdas de transmissão, atrito, entre outros)

array(['83.1bhp', '153.86bhp', '83.14bhp', '68.05bhp', '81.86bhp',
       '69bhp', '73bhp', '86.7bhp', '103.25bhp', '98.6bhp', '89bhp',
       '67.1bhp', '58.16bhp', '88.7bhp', '87.2bhp', '118.36bhp',
       '89.84bhp', '170PS', '74bhp', '81.80bhp', '47.3bhp', '67.04bhp',
       '82bhp', '140bhp', '138.1bhp', '84bhp', '88.5bhp', '88.50bhp',
       '65.71bhp', '47.33bhp', '100.6bhp', '102', '90 PS', '73.97bhp',
       '61.7bhp', '147.51bhp', '73.9bhp', '62.1bhp', '78.9bhp',
       '108.62bhp', '167.67bhp', '55.2bhp', '86.63bhp', '88bhp',
       '67.06bhp', '83.8bhp', '113.43bhp', '74.02bhp', '67.05bhp',
       '67bhp', '63PS at 5,400 rpm', '98.96bhp', '97.9bhp', '58.2bhp',
       '53.3bhp', '62bhp', '70bhp', '103.3bhp', '120bhp (86.7kw)',
       '118.35bhp', '75 PS at 4000 rpm', '152.87bhp', '57.6bhp', '99bhp',
       '138bhp', '141bhp', '108.5bhp', '86.8bhp', '78 kW', '105.94bhp',
       '118PS at 6,600 rpm', '72bhp', '61.68bhp', '108.45bhp', '88.73bhp',
       '74.96bhp', '126.2bhp', '68', '81.83bhp', '160.77bhp', '98.63bhp',
       '79.4bhp', '77bhp', '71.02bhp', '108.49bhp', '88.8bhp',
       '174.33bhp', '80 PS at 5200 rpm', '152 PS', '75bhp', '130bhp',
       '66.1bhp', '103.26bhp', '170', '85ps', '80', '126.32bhp',
       '254.7bhp', '187.74bhp', '204bhp', '241.4bhp', '186bhp', '150bhp',
       '181bhp', '443.87bhp', '188bhp', '167.62bhp', '241.3bhp', '143bhp',
       '85.8bhp', '72.40bhp', '71.01bhp', '98.59bhp', '136bhp',
       '97.89bhp', '100', '130.2bhp', '88.76bhp', '121.3bhp', '108.6bhp',
       '40.3bhp', '37.48bhp', '103.5bhp', '155bhp', '100bhp', '102.5bhp',
       '147.94bhp', '113.98bhp', '83.83bhp', '53.26bhp', '55.92bhp',
       '113.45bhp', '116.3bhp', '58bhp', '174.5bhp', '119.35bhp',
       '73.94bhp', '91.1bhp', '117.3bhp', '121bhp', '113.42bhp',
       '58.33bhp', '71 PS at 4500 rpm', '168.5bhp', '70', '59.17bhp',
       '138.03bhp', '72.41bhp', '120bhp', '103.52bhp', '117.6bhp',
       '105bhp', '84.82bhp', '158.2bhp', '118.41bhp', '73.75bhp',
       '184bhp', '46.3bhp', '197bhp', '68bhp', '70.02bhp', '103.2bhp',
       '86.83bhp', '108.495bhp', '40.36bhp', '88.77bhp', '167.68bhp',
       '74.93bhp', '104.55bhp', '101.65bhp', '70.40Bhp', '37bhp', '45bhp',
       '83.81bhp', '65', '109PS', '84.8bhp', '112bhp at 3800 rpm',
       '69.01bhp', '116.6', '138.05bhp', '126.3bhp', '178.3bhp', '148bhp',
       '93.87bhp', '78.8bhp', '169bhp', '64.1bhp', '194.3bhp', '201.1bhp',
       '254.79bhp', '306bhp', '261.49bhp', '360bhp', '147.5bhp', '252bhp',
       '194bhp', '177bhp', '201.15bhp', '191.76bhp', '280bhp',
       '335.25bhp', '84.48bhp', '110bhp', '245bhp', '258bhp', '212.55bhp',
       '105', '221.3bhp', '171 PS', '138.08bhp', '453.26bhp', '215.01bhp',
       '78', '86.80bhp', '82.9bhp', '395bhp', '91.7bhp', '194.4bhp',
       '115.05bhp', '150.19bhp', '90(66)', '257.47bhp', '197.26bhp',
       '105 PS at 5250 rpm', '76.43bhp', '261.4bhp', '157.75bhp',
       '113.18bhp', '158bhp', '248bhp', '93.7bhp', '190bhp', '177.6bhp',
       '75.10bhp', '163.7bhp', '170bhp', '53.64bhp', '75 PS', '171.5bhp',
       '103.6bhp', '104.5bhp', '85.80bhp', '147.9bhp', '60 PS',
       '120.7bhp', '92', '170.63bhp', '112bhp', '88.2', '110', '82.9',
       '75PS', '191.7bhp', '140', '65 PS at 5500 rpm', '104.68',
       '97.7bhp', '90PS at 4000rpm', '187.7bhp', '157.8bhp', '134bhp',
       '103bhp', '121.31bhp', '254.8bhp', '281.61bhp', '261.50bhp',
       '157.7bhp', '241.38bhp', '55 Bhp', '320bhp', '248.08bhp',
       '237.36bhp', '110.4bhp', '214.5bhp', '121.36bhp', '183bhp',
       '384.87bhp', '336bhp', '333bhp', '189.08bhp', '134.1bhp',
       '136.78bhp', '246.74bhp', '175.56bhp', '503bhp', '174.3bhp',
       '116.4bhp', '107.2bhp', '83.11bhp', '82.85bhp', '148.31bhp', '94',
       '144', '103.2 PS at 5500 RPM', '126.24bhp', '178bhp', '83 PS',
       '160bhp', '158.8bhp', '107.3bhp', '187.4bhp', '35 bhp', '105PS',
       '74.9bhp', '68.1bhp', '115bhp', '141.1bhp', '59bhp',
       '75 bhp at 5400 rpm', '57.5', '63 HP at 3200 rpm', '56.3bhp',
       '63bhp', '34.2bhp', '100.5bhp', '106', '64', '32.8bhp', '167.6bhp',
       '76.8bhp', '123.37bhp', '63.12bhp', '103.39bhp', '203.2bhp',
       '178.49bhp', '63', '102.57bhp', '91.72bhp', '138.13bhp',
       '120.96bhp', '218bhp', '100.57bhp', '301.73bhp', '147.8bhp',
       '75.09bhp', '105.5bhp', '75.94bhp', '197.13bhp', '68.07bhp',
       '117.60bhp', '149.92bhp', '47', '154bhp', '71bhp', '164.7bhp',
       '335.26bhp', '64bhp', '37.5bhp', '90bhp', '69.04bhp',
       '132/4000-6000', '181.03bhp', '35', '120.69bhp', '174.33',
       '86.79bhp', '235bhp', '147.52bhp', '86.76bhp', '101', '177.46bhp',
       '120.3bhp', '173bhp', '89.75bhp', '97.64bhp', '91.18bhp',
       '79.65bhp', '139.46bhp', '82.5bhp', '215bhp', '113.4bhp',
       '178.4bhp', '140.8bhp', '272bhp', '92.7bhp', '156.82bhp', '168bhp',
       '558bhp', '247bhp', '375.5bhp', '265bhp', '203bhp', '59.18bhp',
       '313bhp', '84.88bhp', '108.50bhp', '98.82bhp', '38.4bhp',
       '94.68bhp', '123.24bhp', '125', '35 Bhp', '208bhp', '121.4bhp',
       '63 PS', '152.88bhp', '61 PS', '163.2', '110 PS at 4000 RPM',
       '179.5bhp', '70.67bhp', '182.46bhp', '240bhp', '177.5bhp',
       '63.1bhp', '168.7bhp', '197.2bhp', '130.3bhp', '367bhp', '76bhp',
       '97.6bhp', '71 PS', '153.87bhp', '180', '235', '103.2', '112.4bhp',
       '156.9bhp', '160 BHP', '94.93bhp', '101.64bhp', '114bhp', '53.5',
       '335.2bhp', '82.4bhp', '258', '84bhp3750rpm', '108.48bhp',
       '163.60bhp', '231.78bhp', '98bhp', '151.89bhp', '210', '187.40bhp',
       '153.866bhp', '99.61bhp', '106 bhp', '241.39bhp', '335.2', '177',
       '214.56bhp', '181.04bhp', '175bhp', '100PS at 5,500rpm',
       '246.7bhp', '150 ps 3850 rpm', '66.6', '98.5bhp', '91.19bhp',
       '95.48bhp', '48.21bhp', '100 bhp', '75PS at 4000rpm', '99.23bhp',
       '150 kW at 6300 rpm', '80.46bhp', '85 PS at 6000rpm', '271.3bhp',
       '167.7bhp', '115 PS', '66.7', '210bhp', '70 bhp at 5400 rpm',
       '58.3bhp', '198.25bhp', '32.5bhp', '321bhp', '380bhp', '502.8bhp',
       '185bhp', '80.84bhp', '157.57bhp', '82 PS', '112.44bhp', '85',
       '96.55bhp', '104 PS', '66(90) / 4000', '61.6bhp', '270.9bhp',
       '52.8bhp', '163bhp', '271.2bhp', '73.8bhp', '118.6', '140PS',
       '80bhp', '241.6bhp', '178', '110(150)/5700', '134hp', '91.2bhp',
       '118.3bhp', '300bhp', '255bhp', '241.7bhp', '134.10bhp',
       '167.63bhp', '65.39bhp', '118bhp', '88 PS', '138.12bhp', '85.7bhp',
       '72.4bhp', '75', '93 PS', '102.53bhp', '161.6', '112.2', '260.0',
       '94 bhp', '379.7bhp', '70 bhp at 4000 rpm', '120', '218', '57',
       '53 PS', '65bhp', '180kw', '236bhp', '179.5', '270.88bhp',
       '162bhp', '53bhp', '99.6bhp', '150', '98.79bhp', '303.7bhp',
       '83.1', '76', '147.4bhp', '237bhp', '200bhp', '328.5bhp',
       '114.4bhp', '362.9bhp', '194.44bhp', '400bhp', '153.8bhp',
       '442.53bhp', '138.02bhp', '224bhp', '132PS', '80.9bhp', '215',
       '268bhp', '282bhp', '76.9bhp', '375.48bhp', '189.3bhp',
       '174.57bhp', '421bhp', '335.3bhp', '296bhp', '231.1', '271.23bhp',
       '160.92bhp', '469bhp', '382bhp', '170hp', '73.74bhp', '308bhp',
       '198.5', '552bhp', '237.4bhp', '296.36bhp', '110.5bhp', '294.9bhp',
       '122bhp', '98.56bhp', '170.6bhp', '65.03bhp', '245.59bhp', '64.9',
       '92bhp', '500bhp', '194.37bhp', '420bhp'], dtype=object)

In [35]:
def converter_coluna_max_power(x):
    x = str(x).lower()
    if 'bhp' in x:
        return float(x.split('bhp')[0].replace('bhp', '').strip())
    elif 'hp' in x:
        return float(x.split('hp')[0].replace('hp', '').strip())
    elif 'ps' in x:
        return float(x.split()[0].replace('ps', '').strip()) * 0.98632
    elif 'kw' in x:
        return float(x.split()[0].replace('kw', '').strip()) * 1.34102209
    elif '(' in x:
        return float(x.split('(')[0].strip())
    elif '/' in x:
        return float(x.split('/')[0].strip())
    else:
        return float(x.strip())

df['max_power'] = df['max_power'].apply(converter_coluna_max_power)
df.rename(columns={'max_power': 'max_power_bhp'}, inplace=True)

In [36]:
df['max_power_bhp'].describe()

count    16804.000000
mean       102.763233
std         43.612411
min         32.500000
25%         78.900000
50%         88.500000
75%        117.600000
max        558.000000
Name: max_power_bhp, dtype: float64

### Fim do tratamento e normalização da tabela

In [37]:
df.head()

,full_name,resale_price_inr,registered_year,engine_capacity_cc,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power_bhp,seats,mileage_kmpl,body_type,city
0,2017 Maruti Baleno 1.2 Alpha,545000.0,2017,1197.0,Third Party insurance,Manual,40000.0,First Owner,Petrol,83.10,5.0,21.40,Hatchback,Agra
1,2018 Tata Hexa XTA,1000000.0,2018,2179.0,Third Party insurance,Automatic,70000.0,First Owner,Diesel,153.86,7.0,17.60,MUV,Agra
2,2015 Maruti Swift Dzire VXI,450000.0,2015,1197.0,Third Party insurance,Manual,70000.0,Second Owner,Petrol,83.14,5.0,20.85,Sedan,Agra
3,2015 Maruti Swift Dzire VXI,450000.0,2015,1197.0,Third Party insurance,Manual,70000.0,Second Owner,Petrol,83.14,5.0,20.85,Sedan,Agra
4,2009 Hyundai i10 Magna 1.1,160000.0,2009,1086.0,Third Party insurance,Manual,80000.0,First Owner,Petrol,68.05,5.0,19.81,Hatchback,Agra